<div class="card-content">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
        <span><h4>{{position}}</h4></span>
    </div>
    <div class="card-desc">
        <h3>{{pez.nombre}}</h3>
        <p>Colores</p>
        <ul>
            <li *ngFor="let c of pez.colores">
                <span [ngSwitch]="c">
                    <i *ngSwitchCase="'rojo'" style="color: red;">{{c}}</i>
                    <i *ngSwitchDefault>{{c}}</i>
                </span>
            </li>
        </ul>
        <div>
            <a href="#" (click)="voteUp()"><i class="material-icons md-18">thumb_up</i></a>
            <a href="#" (click)="voteDown()"><i class="material-icons md-18">thumb_down</i></a>
            {{pez.votes}}
        </div>
        <br>
        <a href="#" class="btn-card" (click)="ir()">Ir!</a>
        <span *ngIf="pez.isSelected()">
            <span ngNonBindable> -FAVORITO- </span>
        </span>
        <a [routerLink]="['/pez', pez.id]">Ver detalles</a>
    </div>
</div>