<div class="container content">
	<div class="page-header">
		<div class="container">
			<h1>Ruteo simple</h1>
			<div class="navLinks">
				<div class="row">
					<div class="col-md-3">
						<a [routerLink]="['/home']">Home</a>
					</div>
					<div class="col-md-3">
						<a [routerLink]="['/pez']">Pez</a>
					</div>
					<div class="col-md-3">
						<a [routerLink]="['/login']">Login</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<h1>
			{{title}}
		</h1>
	</div>

	<router-outlet></router-outlet>
</div>

<hr class="mb-5">

Fecha: {{ time | async }}
